@font-face {
    font-family: 'Catamaran';
    src: url('/fonts/Catamaran/Catamaran-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Knewave';
    src: url('/fonts/Knewave/Knewave-Regular.ttf');
}

$font-family-default: 'Catamaran',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;

$font-family-headline: 'Knewave',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;